name: "Craft new release"

on:
  workflow_dispatch:
    inputs:
      target_version:
        description: 'The target version under which to create the release.'
        required: true

jobs:
  craft_new_release:
    name: "Craft a new release"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Create release branch
        run: git checkout -b release/${{ github.event.inputs.target_version }}

      - name: Initialize mandatory git config
        run: |
          git config user.name "${{ github.actor }} action"
          git config user.email "noreply@github.com"

      - name: Bump version
        run: |
          chmod +x gradlew
          ./gradlew updateVersion -PnewVersion="${{ github.event.inputs.target_version }}"

      - name: Commit changes
        id: make-commit
        run: |
          git add gradle.properties
          git commit --message "Prepare release ${{ github.event.inputs.target_version }}"
          echo "::set-output name=commit::$(git rev-parse HEAD)"

      - name: Push new branch
        run: |
          git push origin release/${{ github.event.inputs.target_version }}

      - name: Create pull request
        uses: thomaseizinger/create-pull-request@1.0.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          head: release/${{ github.event.inputs.target_version }}
          base: main
          title: Release version ${{ github.event.inputs.target_version }}
          # By default, we request a review from the person who triggered the workflow.
          reviewers: ${{ github.actor }}
          body: |
            Hi @${{ github.actor }}!
            This PR was created in response to a manual trigger of the release workflow here: https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}.
            I've bumped the versions in the gradle.properties files in this commit: ${{ steps.make-commit.outputs.commit }}.
            Merging this PR will create a GitHub release and upload any assets that are created as part of the release build.
